/*  https://www.w3.org/TR/css-ui-3/  */

h3 {
    background-color: gold;
}
#caja{
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid black;
    margin: 10px;
}
#caja1 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 90px;
    padding: 10px;
    border: 10px solid #333;
    margin: 30px;
    box-sizing: content-box; /* valor por defecto no necesario indicar */
}
#caja2 {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 200px;
    height: 90px;
    padding: 10px;
    border: 10px solid #333;
    margin: 30px;
    box-sizing: border-box; /* el width incluye padding y margin */
}

/* overflow contenido vs contenedor*/
#caja3 {
    width: 250px;
    height: 100px;
    border: 1px solid #333;
    padding: 0;
    overflow: auto;
    margin-bottom: 30px;
}
#caja4{
    width: 250px;
    height: 100px;
    border: 1px solid #333;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
}
#caja5 {
    width: 250px;
    height: 100px;
    border: 1px solid #333;
    padding: 0;
    overflow: hidden;   
    margin-bottom: 30px; 
}
#caja6 {
    width: 250px;
    height: 100px;
    border: 1px solid #333;
    padding: 0;
    overflow: visible;
    margin-bottom: 30px;    
    
}

