/* 
    https://www.w3.org/TR/css-fonts-3/

    font-family

    grosor:
    100 = Thin
    200 = Extra Light (Ultra Light)
    300 = Light
    400 = Normal
    500 = Medium
    600 = Semi Bold (Demi Bold)
    700 = Bold
    800 = Extra Bold (Ultra Bold)
    900 = Black (Heavy)

    ancho:
    font-stretch -> Ultra Condensed, Extra Condensed, Condensed, Semi Condensed, Normal
                    Semi Expanded, Expanded, Extra Expanded, Ultra Expanded
    
    estilos:
    font-style -> normal, italic, oblique

    medidas absolutas: cm, mm, in, pt, px...
    medidas relativas: em y %
*/

html {
  font-size: 1em;
}
body {
  font-family: verdana;
}
div {
  font-size: .8rem;  
}
li {
  font-size: .8rem;
}
.special {
  font-stretch: condensed;
}
.titulo {
  font-family: Arial;
  font-size-adjust: .56;
}


